@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #526d82;
}

.App {
  padding: 15px;
  font-family: "Nunito";
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
  height: 50px;
  border-radius: 10px;
  background-color: #9db2bf;
  color: black;
  -webkit-box-shadow: 0px 0px 8px black;
          box-shadow: 0px 0px 8px black;
  margin-bottom: 15px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  margin-bottom: 15px;
}
.content .block {
  background-color: #9db2bf;
  -webkit-box-shadow: 0px 0px 8px black;
          box-shadow: 0px 0px 8px black;
  border-radius: 10px;
  padding: 5px;
}
.content .members {
  height: 600px;
  min-width: 200px;
}
.content .playlist {
  height: 600px;
  min-width: 300px;
}
.content .playlist .video {
  width: 97%;
  margin: 0 auto;
  background-color: #526d82;
  -webkit-box-shadow: 0px 0px 8px black;
          box-shadow: 0px 0px 8px black;
  border-radius: 5px;
  padding: 3px 3px 6px;
}
.content .playlist .video_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}
.content .playlist .video_description .video_pic {
  height: 70px;
  border-radius: 5px;
}
.content .playlist .video_description .video_title {
  overflow: hidden;
  color: white;
  text-shadow: 1px 1px 2px black;
}
.content .playlist .video_control_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.content .playlist .video_control_buttons a {
  height: 30px;
}
.content .player {
  height: 600px;
  width: 100%;
}
.content .player iframe {
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.content .player .player_control_buttons {
  height: 7%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #526d82;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}
.content .player input[type=range] {
  -webkit-appearance: none;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
}
.content .player input[type=range]::-webkit-slider-runnable-track {
  background-color: #9db2bf;
  border: 2px solid black;
  border-radius: 10px;
  height: 15px;
}
.content .player input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 21px;
  position: relative;
  top: -5px;
  background-color: #526d82;
  border: 2px solid black;
  width: 10px;
  border-radius: 10px;
}
.content .members,
.content .playlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.content .members span:first-child,
.content .playlist span:first-child {
  display: block;
  border-bottom: 2px solid black;
}
.content .button {
  position: relative;
  height: 30px;
  min-width: 50px;
  border: none;
  border-radius: 10px;
  background-color: #9db2bf;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 8px black;
          box-shadow: 0px 0px 8px black;
}
.content .button svg {
  height: 30px;
}
.content .button:hover {
  background-color: #b0c3cf;
}